# Laravel / PHP
/vendor
/node_modules
/.env
/.env.local
/storage/*.key
/.fim

# Laravel build artifacts

/public/hot
/public/storage

# IDE / OS
/.idea
/.vscode
/.nova
/.zed
*.swp
.DS_Store
Thumbs.db

# Tooling
/.phpunit.cache
/.phpunit.result.cache
phpunit.xml
auth.json
composer.lock
package-lock.json
yarn.lock
